.width-control{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
label{
  font-weight: 500;
  font-size: 110%;
  margin: 20px auto;
}
textarea{
  outline: none;
  resize: none;
  height: 200px;
  width: 300px;
  padding: 10px;
}