<div class="main-container">
  <div class="width-control">
    <div class="stat-core">

      <div class="stat stat-one">
        <div class="stat-number">
          <h4>{{ total_registered_users }}</h4>
        </div>
        <div class="stat-det">
          <h5>
            Registered Users
          </h5>
        </div>
      </div>
      
      <div class="stat stat-two">
        <div class="stat-number">
          <h4>{{ total_registered_vendors }}</h4>
        </div>
        <div class="stat-det">
          <h5>
            Registered Vendors
          </h5>
        </div>
      </div>
      
      <div class="stat stat-three">
        <div class="stat-number">
          <h4>{{ total_businesses }}</h4>
        </div>
        <div class="stat-det">
          <h5>
            Registered Busniesses
          </h5>
        </div>
      </div>
      
      <div class="stat stat-four">
        <div class="stat-number">
          <h4>{{ total_site_visits }}</h4>
        </div>
        <div class="stat-det">
          <h5>
            Website visits
          </h5>
        </div>
      </div>

    </div>
  </div>
</div>