<h2 class="page-heads">Orders</h2>

<div>
  <table class="table table-striped">
    <tr>
      <th>
        Order Id
      </th>
      <th>
        Ordered time
      </th>
      <th>
        Delivery Address
      </th>
      <th>
        User mobile
      </th>
      <th>
        Vendor mobile
      </th>
      <th>
        Vendor Response 
      </th>
      <th>
        Order status
      </th>
    </tr>
    <tr>
      <td>
        ab12YZ
      </td>
      <td>
        Dec 22 11:22 AM
      </td>
      <td class="address">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, obcaecati?
      </td>
      <td>
        +91 1111111111
      </td>
      <td>
        +91 2222222222
      </td>
      <td>
        Not responded
      </td>
      <td>
        Awaiting vendor response
      </td>
    </tr>
  </table>
</div>