.web-container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  height: auto;
}
.app-index {
  position: relative;
  display: block;
  width: 18%;
  height: 100vh;
  background-color: #576c7d;
}
.router-outlet{
  width: 82%;
  height: 100%;
}