  <div class="index">
    <ul>
      <li class="s-l-li" routerLink='/vendors'>
        Vendors
      </li>
      <li class="s-l-li" routerLink='/businesses'>
        Businesses
      </li>
      <li class="s-l-li" routerLink='/users'>
        Users
      </li>
      <li class="s-l-li" routerLink='/orders'>
        Orders
      </li>
      <li class="s-l-li" routerLink='/menu-settings'>
        Main Menu Settings
      </li>
      <li class="s-l-li" routerLink='/add-categories'>
        Add Categories
      </li>
      <li class="s-l-li" routerLink='/add-sub-categories'>
        Add sub categories
      </li>
      <li class="s-l-li" routerLink='/edit-categories'>
        Edit Categories / Sub Categories
      </li>
      <li class="s-l-li" routerLink='/cms'>
        CMS
      </li>
      <li>
        <button class="accordion">Employee Database <span class="chev"><i class="fas fa-chevron-down"></i></span></button>
        <div class="panel">
            <ul>
              <li routerLink='/all-employees'>
                All Employees
              </li>
              <li routerLink='/call-center-employees'>
                Call Center
              </li>
              <li routerLink='/marketing-employees'>
                Marketing
              </li>
              <li routerLink='/accounting-employees'>
                Accounts
              </li>
              <li routerLink='/software-employees'>
                Software
              </li>
              <li routerLink='/promoters'>
                Promoters
              </li>
              <li routerLink='/temporary-employees'>
                Temporary Employees
              </li>
              <li routerLink='/delivery-boys'>
                Delivery Boys
              </li>
            </ul>
          </div>
      </li>
      <li class="s-l-li" routerLink='/delivery-tracking'>
        Delivery Tracking
      </li>
      <li>
        <button class="accordion">Ads <span class="chev"><i class="fas fa-chevron-down"></i></span></button>
        <div class="panel">
            <ul>
              <li routerLink='/home-banner-img'>
                Home page banner images
              </li>
              <li routerLink='/cat-banner-img'>
                Category Banner images
              </li>
              <li routerLink='/sub-cat-banner-img'>
                Sub Category Banner images
              </li>
              <li routerLink='/global-ads'>
                Global Ads
              </li>
              <li routerLink='/local-ads'>
                Local Ads
              </li>
            </ul>
          </div>
      </li>
      <li class="s-l-li" routerLink='/search'>
        Search
      </li>
      <li class="s-l-li" routerLink='/add-super-admin'>
        Add Super Admin
      </li>
      <li class="s-l-li" routerLink='/add-sub-admin'>
        Add Sub Admin
      </li>
      <li class="s-l-li" routerLink='/featured-businesses'>
        Featured Businesses
      </li>
    </ul>
  </div>