<h2 class="page-heads">All Employees</h2>
<div class="width-control">
    <div class="emp-core">
        <table class="table table-striped">
          <tr>
            <th>
              Name
            </th>
            <th>
              Contact number
            </th>
            <th>
              Action
            </th>
            </tr>
            <tr>
              <td>
                Name
              </td>
              <td>
                Number
              </td>
              <td>
                <div class="a-div">
                    <div class="cog-btn">
                      <i class="fas fa-cog"></i>
                    </div>
                    <div class="a-menu">
                      <ul>
                        <li>
                          View
                        </li>
                        <li>
                          Contact
                        </li>
                        <li>
                          Delete
                        </li>
                      </ul>
                    </div>
                  </div>
              </td>
            </tr>
            <tr>
              <td>
                Name
              </td>
              <td>
                Number
              </td>
              <td>
                <div class="a-div">
                    <div class="cog-btn">
                      <i class="fas fa-cog"></i>
                    </div>
                    <div class="a-menu">
                      <ul>
                        <li>
                          View
                        </li>
                        <li>
                          Contact
                        </li>
                        <li>
                          Delete
                        </li>
                      </ul>
                    </div>
                  </div>
              </td>
            </tr>
            <tr>
              <td>
                Name
              </td>
              <td>
                Number
              </td>
              <td>
                <div class="a-div">
                    <div class="cog-btn">
                      <i class="fas fa-cog"></i>
                    </div>
                    <div class="a-menu">
                      <ul>
                        <li>
                          View
                        </li>
                        <li>
                          Contact
                        </li>
                        <li>
                          Delete
                        </li>
                      </ul>
                    </div>
                  </div>
              </td>
            </tr>
        </table>
      </div>
</div>